@model ProjectWebApp.ViewModel.LidDeleteView
@{
    ViewData["Title"] = "Lid verwijderen";
}

<h1 class="mt-5">@ViewData["Title"]</h1>



<div class="row mt-5">
    <h2>Ben je zeker dat je @Model.Naam wilt verwijderen?</h2>
    <form asp-action="DeleteLid" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn" style="background-color: red !important; color: white !important;" />
        <a asp-action="Leden" class="btn" style="background-color: red !important; color: white !important;">Terug</a>
    </form>

</div>
