@{
    ViewData["Title"] = "Home Page";
}
@{
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <div id="imageCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/slide-image-1.jpg" class="img-responsive" />
                            </div>
                            <div class="item">
                                <img src="~/images/slide-image-2.jpg" class="img-responsive" />
                            </div>
                            <div class="item">
                                <img src="~/images/slide-image-3.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <h2>Visie</h2>
                    <p>
                    De Hoogstraatse Reddersclub vzw is een club voor en door haar redders en redders-in-spe.

                    Als club willen we onze leden eerst en vooral een interessante en leuke hobby aanbieden waarin plezier in en rond het water en een vriendschappelijke sfeer hand in hand gaan met een gezonde competitiegeest.
                    Met een gevarieerd aanbod aan kwaliteitsvolle trainingen, opleidingen en bijscholingen willen we onze leden zowel bewustmaken voor de gevaren als de mogelijkheden van activiteiten in en rond het water.
                    Ook op persoonlijk vlak willen we onze leden groeimogelijkheden bieden. In samenwerking met het clubbestuur en onze meest ervaren trainers kunnen leden stukje bij beetje groeien in hun verantwoordelijkheden.

                    Naar buiten toe willen we ons profileren als een moderne, herkenbare reddersclub. Sensibilisering, samenwerking en uitdraging van onze waarden en die van onze federatie dragen we hoog in het vaandel.
                </p>
                </div>
            </div>
        </div>

}
