@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProjectWebApp.ViewModel.ArtikelsListView;
@{
    ViewData["Title"] = "Nieuws";
}
<h1>@ViewData["Title"]</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @foreach (var artikel in Model.Artikels)
            {
                <div class="card m-2" style="width: 18rem; height: 18rem; float: left;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">@artikel.Titel</h5>
                        <p class="card-text">@artikel.Datum</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Home" asp-action="Nieuws" asp-route-id="@artikel.Id" class="btn btn-light">Meer lezen</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
