@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>HRC-Rescue</h1>
    <div>
    <p>
        Op en aan het water worden regelmatig evenementen georganiseerd. Dat veiligheid daarbij belangrijk is, moeten we jullie niet vertellen.

        De Hoogstraatse Reddersclub heeft al een aantal jaren een reddingsdienst die door organisatoren ingehuurd kan worden. Bij deze reddingsdienst hoort natuurlijk een boot, sinds 2012 hebben we een Joker Coaster 470 met een 50PK 4-taktmotor. Hiermee en natuurlijk ook met onze vrijwillige redders die allemaal minimum het diploma van ‘bootredder’ of ‘hoger redder’ hebben, verzorgen wij de veiligheid op het water voor eender welk evenement.
    </p>
    <img src="/images/resQ1.jpg"/>
    <p>Jaarlijks zijn wij te zien bij diverse evenementen: Media-gebeurtenissen, triatlons, zeilwedstrijden en andere evenementen.

    Wil jij ook een veilig evenement op of aan het water, neem dan contact op via het contactformulier. Wij bezorgen u dan een voorstel hoe die beveiliging er uit kan zien.

            Het HRC Water-Rescue Team ook gevolgd worden op: <a href=http://www.facebook.com/RescueBoatLaser>Facebook</a>
    </p>
    <img src="/images/laser6.png"/>
    <br />
    <img src="/images/resQ2.jpg"/>
    </div>
    
}
